.header {
    color: brown;
    text-align: center;
    font-family: Palatino;
    font-size: 40px;
    font-weight: bold;
}


body{
    background-color: darkgray;
    color: black;
    text-align: center;
    font-family: Candara;
    font-size: 18px;
    font-weight: normal;
}

#input{
    font-family: Candara;
    color: black;
    width : 40%;
    text-align: center;
    margin: 20px;
    margin-left: 30%;
}

#button{
    font-family: Candara;
    font-size: 16px;
    color: black;
    background-color: rosybrown;
    width : 10%;
    border-radius: 50%;
}