.header {
    color: brown;
    text-align: center;
    font-family: Palatino;
    font-size: 40px;
    font-weight: bold;
}


body{
    background-color: darkgray;
    color: black;
    text-align: center;
    font-family: Candara;
    font-size: 18px;
    font-weight: normal;
}