.header {
    color: snow;
    text-align: center;
    font-family: Palatino;
    font-size: 40px;
    font-weight: bold;
}


body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Candara;
    font-size: 18px;
    font-weight: normal;
}

#CityName{
    color: white;
    text-align: center;
    font-family: Candara;
    font-size: 25px;
    font-weight: normal;
}

#CityTemp{
    color: white;
    text-align: center;
    font-family: Candara;
    font-size: 25px;
    font-weight: normal;
}

#CityCond{
    color: white;
    text-align: center;
    font-family: Candara;
    font-size: 25px;
    font-weight: normal;
}

#input{
    font-family: Candara;
    color: white;
    width : 40%;
    text-align: center;
    margin: 20px;
    margin-left: 30%;
}

#enter{
    font-family: Candara;
    font-size: 16px;
    color: black;
    background-color: sandybrown;
    width : 10%;
    border-radius: 50%;
}

#headers{
    color: snow;
    text-align: center;
    font-family: Palatino;
    font-size: 25px;
    font-weight: bold;
}